# Dependencies
node_modules/

# Build output
.next/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/
frontend/node_modules/
.DS_Store
*.sqlite3
*.log
*.pyc
__pycache__/
venv/
.env
.env.*
/backend/.env
/frontend/.env.local
*.sql
ops/sql/
